@import "./variable.scss";

/*Reset Styles*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $bg;
}

/* NavBar Component Styling */

.navBar {
	@extend .display-f-row;
	background-color: $bg;

	.navLogo {
		padding: 15px;
	}
	.navLinks {
		padding: 0.4rem;
		@extend .display-f-center;
		list-style: none;
	}
	li {
		padding: 0.5rem;
	}
	button {
		@extend .buttonDeco;
		width: 80px;
	}
}
/*Landing */

.land-page {
	position: fixed;
	background-image: url("../assets/snow.jpg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
	@extend .display-f-center;
	h1,
	h3,
	h4 {
		color: $bg;
	}
	.land-board {
		line-height: 2.5em;
		background-color: rgba(0, 0, 0, 0.637);
		height: 200px;
		text-align: center;
		padding: 20px;
		border-radius: 20px;
	}
	button {
		@extend .secondary-btn;
		width: 60px;
		margin: 10px;
	}
}

.modal {
	border-style: solid;
	border-radius: 5px;
	margin: 160px auto;
	padding: 20px;
	background: $bg;
	border-radius: 20px;
	width: 30%;
	height: 50%;
	position: relative;
	transition: all 5s ease-in-out;
	h2 {
		margin-top: 0;
		color: $bg2;
		font-family: Tahoma, Arial, sans-serif;
	}
	.close {
		position: absolute;
		top: 10px;
		right: 30px;
		transition: all 200ms;
		font-size: 25px;
		font-weight: thin;
		text-decoration: none;
		color: red;
		border: none;
	}
	.close:hover {
		color: #828684;
	}
	.user-button {
		@extend .buttonDeco;
		width: 80px;
		margin: 10px;
	}
	.users {
		@extend .display-f-column;
	}
}

/*Home || Main Page Component Styling*/

.hero-img {
	@extend .display-f-center;
	background-image: url(../assets/hero.jpg);
	background-size: cover;
	height: $header-height;
	.hero-text {
		color: $text-color1;
		font-weight: 100;
		font-size: $md-heading;
		text-align: center;
		// width: 30em;
	}
	.headline {
		font-family: $main-font;
		font-size: $lg-heading;
	}
}

/*Products*/
.product-header {
	background-image: url(../assets/jewels-cat.jpg);
	background-size: contain;
	height: 400px;
}

.product-card {
	img {
		width: 12em;
		height: 12em;
	}
	button {
		@extend .buttonDeco;
	}
}

.products-grid {
	padding-top: 3em;
	padding-left: 3em;
	@extend .grid;
}

.product-details {
	@extend .display-f-row;
	gap: 3em;

	h1 {
		font-family: $main-font;
	}
	img {
		width: 20em;
		padding-top: 3em;
		padding-right: 5em;
	}
	.prod-description {
		padding-top: 5em;
		padding-left: 3em;
		width: 35em;
	}
	p {
		font-size: 16.5px;
	}
	.addProduct {
		margin-top: 2.5em;
	}
	button {
		@extend .secondary-btn;
	}
}

/*Category*/

.category {
	text-align: center;
	padding-top: 30px;
	button {
		margin: 10px;
		@extend .secondary-btn;
	}
}
