@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap");

$main-font: "Source Sans Pro", sans-serif;

$bg: rgb(255, 255, 255);
$bg2: rgb(0, 0, 0);
$text-color1: rgb(255, 255, 255);
$text-color2: rgb(0, 0, 0);

$header-height: 80vh;

$lg-heading: 3em;
$md-heading: 1em;

.display-f-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.display-f-row {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
	@if $point == md {
		@media (min-width: $md) {
			@content;
		}
	}
}
